body{
    width:100%;
    position:absolute;
    height:auto; 
    margin: 0;
}

/*mycode*/
header p{
  margin-bottom: 0;
}


header#MainHeader{  
    width: auto;
    height: auto;
    background-color: orange;
    margin: 20px;        
 } 

nav { 
  position: relative;
  float: left;
  height: 100%;
  min-height: 75vh;  
  width:15%;
  margin: 0 20 10px 20px;
  top: 0px;
  background-color: lightblue;
  bottom: 0px;
}

section{
    width: 64%;
    min-height: 75vh; 
    float: left;    
    top: 500px;
    background-color: pink; 
}

aside{
    width: 15%;
    height: 100%;
    min-height: 75vh;
    margin: 0 20 10px 20px;
    top: 0px;
    float: right;
    background-color: lightgreen;   
}

footer#MainFooter{
    width: auto;
    height: auto;   
    background-color: gray;

    margin: 20px;   
    clear:both; 
}
